body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}

#logo {
  width: auto;
  height: 60px;
}

#chia {
  width: 200px;
  height: auto;
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-icon {
}

#cart-count {
    position: absolute;
    top: -5px;
    right:-2px;
    background-color: purple;
    color: white;
    border-radius: 50%; /* Make it a circle */
    padding: 0px 7px;
    font-size: 13px;
}

.messages .error {
    color:red;
}