body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}

#logo {
  width: auto;
  height: 60px;
}

#chia {
  width: 200px;
  height: auto;
}

.messages .error {
    color:red;
}